<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Post It!</h1>
    <%for(let i=posts.length-1;i>=0;i--){%> <%let post=posts[i]%>
    <div class="post" onclick="togglePostHeight(this)">
      <div class="disp">
        <div class="user">
            <b>@<%=post.username%></b>
        </div>

        <div class="utility">
            
            <!-- Edit option -->
            <a href="/posts/<%=post.id%>/postUpdate">
                <img src="/assets/edit_icon3.png" alt="edit" class="edit_icon" />
            </a>

            <!-- Delete option -->
            <a href="/posts/<%=post.id%>/deletePost">
                <img src="/assets/delete_icon3.png" alt="delete" class="delete_icon"/>
            </a>
        </div>
      </div>
      <img src="<%=post.imgUrl%>" alt="catImg" class="image" />
      <p class="caption"><%=post.content%></p>
    </div>
    <%}%>
    <!-- Add a new Post -->
    <form action="/posts/newPost">
      <button class="add">Add</button>
    </form>

    <!-- Sign Up -->
    <form method="GET" action="/posts/signUp">
      <button class="signup">Sign Up</button>
    </form>

    <script>
      function togglePostHeight(post) {
        post.classList.toggle("expanded");
      }
    </script>
  </body>
</html>
